{{- if .Values.metrics.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "kafka-partition-remapper-operator.fullname" . }}-metrics
  labels:
    {{- include "kafka-partition-remapper-operator.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "kafka-partition-remapper-operator.selectorLabels" . | nindent 4 }}
{{- end }}
